@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
}

.home a {
  width: 295px;
  background-color: #7a7a7a;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 81px;
  font-size: 18px;
}

.homeIcon {
  margin-left: 25px;
  font-size: 20px;
}

.home p {
  font-size: 20px;
  margin-left: 15px;
}

.adminIntroduce {
  width: 295px;
  background-color: #292c31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 280px;
}

.adminIntroduce p {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.adminIntroduce img {
  width: 75px;
}

.adminMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.adminMenu p {
  font-size: 18px;
  font-weight: 200;
}

.logout {
  width: 295px;
  background-color: #7a7a7a;
  margin: 0;
  color: white;
  display: flex;
  font-size: 18px;
  height: 87px;
  align-items: center;
}

.logout p {
  margin: 0;
  margin-left: 10px;
}

.logoutIcon {
  margin-left: 20px;
}

.menuList {
  margin-left: 80px;
}

/* Option hover 효과를 위한 스타일 */
.menuList:hover {
  cursor: pointer;
}

/* 로그아웃 */
.adminlogout{
  display: flex;
  width: 295px;
  height: 80px;
  background-color: #494a4a;
  margin: 0 0 0 0;
}
.faRightFromBracket{
  font-size: 25px;
  color: #d1d1d1;
  margin: 25px 0 0 25px;
}
.adminlogouts{
  font-size: 20px;
  color: #fff;
  margin: 25px 0 0 25px;
  text-decoration: none;
}