@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #292c31;
}
.joinbox1 {
  z-index: 1;
  width: 100%;
  height: 800px;
  background-color: #292c31;
  margin: 0;
}
.joinbox3 {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  width: 1000px;
  height: 700px;
  margin: 400px 0 0 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #282828;
}
.joinbox2 {
  position: absolute;
  z-index: 2;
  background-color: #b0e045;
  width: 100%;
  height: 380px;
  margin: 500px 0 0 0;
}
.joinclose {
  display: flex;
  flex-direction: row-reverse;
}
.joinclosebox {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin: 15px 0 0 0;
  padding: 0 25px 0 10px;
}
.joinsimbol {
  display: flex;
  width: 120px;
  height: 100px;
  margin: 25px 0 0 45%;
}
.logokr {
  width: 320px;
  margin: 0 0 10px 35%;
}
.email {
  display: flex;
  width: 620px;
  height: 65px;
  font-size: 26px;
  text-indent: 10px;
  color: #817c7c;
  background-color: #f4f4f4;
  border-radius: 15px;
  border-color: #2f2f2f;
  margin: 0 0 0 21%;
}
.password {
  display: flex;
  width: 620px;
  height: 65px;
  font-size: 26px;
  text-indent: 10px;
  color: #817c7c;
  background-color: #f4f4f4;
  border-radius: 15px;
  border-color: #2f2f2f;
  margin: 8px 0 0 21%;
}
.joinbtn {
  display: flex;
  width: 620px;
  height: 73px;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #292c31;
  background-color: #4ce577;
  border-radius: 15px;
  border-color: #282828;
  margin: 25px 0 0 21%;
  padding: 0;
}
.find {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin: 10px 0 0 30px;
}
.find p {
  margin: 10px 10px 0 0;
}
.terms {
  display: flex;
  justify-content: center;
}
.terms p {
  font-size: 20px;
  margin: 286px 40px 0 40px;
}
.terms .point {
  font-weight: 600;
}
