@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  body {
    background-color: #292c31;
    
  }
  .loginbox1 {
    z-index: 1;
    width: 100%;
    height: 1000px;
    background-color: #292c31;
    margin: 0;
  }s
  .loginbox3 {
    position: absolute;
    z-index: 3;
    background-color: #fff;
    width: 1130px;
    height: 770px;
    margin: 480px 0 0 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-width: 5px;
    border-style:solid;
    border-color: #282828;
  }
  .loginbox2 {
    position: absolute;
    z-index: 2;
    background-color: #b0e045;
    width: 100%;
    height: 500px;
    margin: 500px 0 0 0;
  }
  .close{
      display: flex;
      flex-direction: row-reverse;
  }
  .close button{
      font-size: 35px;
      font-weight: 700;
      background-color: white;
      border: none;
      margin: 15px 15px 0 0;
  }
  .loginsimbol {
      display: flex;
      width: 120px;
      height: 100px;
      margin: 0 0 0 45%;
  }
  .logokr {
      margin: 0 0 0 31.5%;
  }
  .email {
      display: flex;
      width: 720px;
      height: 80px;
      font-size: 26px;
      text-indent: 10px;
      color: #817C7C;
      background-color: #F4F4F4;
      border-radius: 15px;
      border-color: #2F2F2F;
      margin: 0 0 0 18%;
  }
  .password {
      display: flex;
      width: 720px;
      height: 80px;
      font-size: 26px;
      text-indent: 10px;
      color: #817C7C;
      background-color: #F4F4F4;
      border-radius: 15px;
      border-color: #2F2F2F;
      margin: 3px 0 0 18%;
  }
  .loginbtn {
      display: flex;
      width: 720px;
      height: 85px;
      font-size: 35px;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      color: #292C31;
      background-color: #4CE577;
      border-radius: 15px;
      border-color: #2F2F2F;
      margin: 25px 0 0 18%;
  }
  .find {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      margin: 0 30px 0 30px;
  }