@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  box-sizing: border-box;
  background-color: black;
}
.body {
  background-color: #292c31;
  margin: 0;
  font-family: "Pretendard-Regular";
}

/* 이미지영상 업로드 화면 */
#upload {
  display: flex;
  align-items: center;
}
.uploadbackground1 {
  width: 1700px;
  height: 830px;
  background-color: #b0e045;
  margin: auto;
  border-radius: 20px;
  z-index: 1;
  display: block;
  margin-bottom: 100px;
}
.uploadbackground2 {
  display: flex;
  width: 1550px;
  height: 700px;
  background-color: white;
  margin: auto;
  margin-top: 65px;
  border-radius: 15px;
  z-index: 2;
}
.uploadbackground2 .uploadtext {
  width: 50%;
  text-align: center;
  margin: auto;
  z-index: 3;
}
.uploadtext h1 {
  font-size: 63px;
  margin: 30px;
}
.uploadtext p {
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}
.uploadtext button {
  font-size: 30px;
  color: black;
  font-weight: 600;
  background-color: #9edf0c;
  padding: 15px 30px;
  border-radius: 15px;
}
.uploadbackground2 .uploadimg {
  width: 50%;
  margin: auto;
}
.uploadimg img {
  width: 700px;
  height: 450px;
  border-radius: 30px;
  z-index: 3;
}

/* 블러블라 소개 -1 */
.intro01 {
  background-color: #d4fe75;
}
#intro1 {
  display: flex;
  justify-content: center;
  color: black;
  width: 1850px;
  height: 900px;
  margin: auto;
  padding: 80px 0 0 0;
}
.intro1box {
  height: 630px;
  background-color: #fff;
  border-radius: 35px;
  border-width: 4px;
  border-style:solid;
  border-color: #282828;
  padding: 35px 75px 0 75px;
  box-shadow: 12px 12px 3px #282828;
  
}
.intro2box img {
  width: 820px;
  height: 645px;
  margin: 0 0 0 80px;
  border-radius: 35px;
}
.introtitle {
  font-size: 23px;
  font-family: "MICEGothic Bold";
  color: #282828;
}
.introbox {
  display: flex;
}
.iconbox {
  width: 90px;
  height: 90px;
  background-color: #00a32e;
  border-radius: 15px;
  margin: 0 0 40px 0px;
  z-index: 1;
}
.loadicon1 {
  font-size: 33px;
  color: white;
  margin: 13px 0 0 25px;
}
.loadicon2 {
  font-size: 33px;
  color: white;
  margin: 15px 0 0 27px;
}
.loadicon3 {
  font-size: 36px;
  color: white;
  margin: 14px 0 0 27px;
}

.introtext h3 {
  font-size: 28px;
  font-weight: 900;
  color: #00a32e;
  margin: 0;
  padding: 0 0 5px 40px;
}
.introtext p {
  font-size: 24px;
  font-weight: 700;
  color: #272829;
  margin: 0;
  padding: 0 0 0 40px;
}

/* 블러블라 소개-2 */
.intro02 {
  background-color: #ffffff;
}
#intro3 {
  display: flex;
  justify-content: center;
  height: 900px;
  color: black;
  margin: auto;
  justify-content: center;
}
.intro3box {
  margin: 70px 0 0 0;
}
.intro3box img {
  width: 800px;
  height: 640px;
  margin: 70px 80px 0 0;
  border-radius: 70px;
}
.intro4box {
  height: 630px;
  background-color: #fff;
  border-radius: 35px;
  border-width: 4px;
  border-style:solid;
  border-color: #282828;
  box-shadow: 12px 12px 3px #282828;
  padding: 41px 85px 0 85px;
  margin: 140px 0 0 0;
}
.introtitle2 {
  font-size: 23px;
  font-family: "MICEGothic Bold";
  color: #282828;
}
.introbox2 {
  display: flex;
}
.iconbox2 {
  width: 90px;
  height: 90px;
  background-color: #39a5f7;
  border-radius: 15px;
  margin: 0 0 40px 0px;
  z-index: 1;
}
.loadicon4 {
  font-size: 33px;
  color: white;
  margin: 13px 0 0 25px;
}
.loadicon5 {
  font-size: 33px;
  color: white;
  margin: 15px 0 0 27px;
}
.loadicon6 {
  font-size: 36px;
  color: white;
  margin: 14px 0 0 27px;
}

.introtext2 h3 {
  font-size: 28px;
  font-weight: 900;
  color: #0151d3;
  margin: 0;
  padding: 0 0 5px 40px;
}
.introtext2 p {
  font-size: 24px;
  font-weight: 700;
  color: #272829;
  margin: 0;
  padding: 0 0 0 40px;
}
/* 라인 */
.line {
  margin: 0 50px 0 50px;
  border-radius: 10px;
  /* height: 5px; */
}
/* 블러블라 Footer */
#intro4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.blurblaicon img {
  width: 150px;
  margin: 0 50px 0 20px;
}
.loadicon7 {
  font-size: 26px;
  margin: 0 28px 0 0;
  color: #fff;
}
.snslink {
  display: flex;
}
.adresslink p{
  font-size: 18px;
  color: #fff;
  margin: 30px 50px 5px 0;
}
.footeradress {
  padding: 0 50px 0 400px;
  margin: 0 0 15px 0;
}
.footeradress p {
  font-size: 18px;
  color: #fff;
  text-align: right;
  margin: 8px;
}
