.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-content {
  background: #fff;
  width: 50%;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.modal-header {
  margin-bottom: 1.5rem;
}

.modal-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.modal-body {
  padding: 1rem 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.button {
  padding: 0.8rem 1.6rem;
  margin-left: 20px;
  font-weight: 600;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

textarea.styled-textarea {
  width: 100%;
  min-height: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #333;
  resize: vertical; /* 세로로만 크기 조정 가능 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea.styled-textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.userInrtos {
  align-items: center;
  font-size: 15px;
  background-color: #f9f8f8;
  padding: 15px;
}

.userInrto {
  display: flex;
  align-items: center;
}

.userInrtos img {
  width: 30px;
  margin-right: 5px;
}

.titleIntro p {
  font-weight: 900;
}
